*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
    font-family: 'Whitney Semibold', sans-serif;
    font-family: 'Whitney Book', sans-serif;
    font-family: 'Whitney Light', sans-serif;                                        
}

a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding-left: 20px;
}

/*Header*/

header{
    background-image: url(../img/jumbo.png);
    background-size: contain;
}

.rowLogo{
    display: flex;
    flex-direction: row;
    padding: 1%;
    width: 100%;
    justify-content: center;
}

.columnLogo{
    width: 15%;
    display: flex;
    justify-content: left;
}

.columnMenu{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnLogin{
    width: 15%;
    justify-content: right;
    display: flex;
    align-items: center;
}

#accedi{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    font-size: 11px;
    font-weight: bold;
}

.rowLogoText{
    display: flex;
    flex-direction: row;
    padding-top: 3%;
    width: 100%;
    justify-content: center;
}

.rowLogoText2{
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 10%;
    width: 100%;
    justify-content: center;
}

.columnLogoText{
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columnLogoText2{
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rowLogo span{
    padding: 5px;
}

.columnLogoText h1{
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}

.columnLogoText p{
    color: white;
    font-size: 16px;
    text-align: center;
}

#macDownload{
    background-color: white;
    margin: 5px 15px 5% 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
}

#browserDiscord{
    background-color: rgb(36, 35, 35);
    margin: 5px 0px 5% 0px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;  
    color: white;
}

/* Main e Footer */

/*Container vari*/
.container{
    width: 70%;
    margin: auto;
}

.containerGray{
    width: auto;
    padding-left: 15%;
    padding-right: 15%;
    background-color: lightgray;
}

.containerFooter{
    width: auto;
    padding-left: 15%;
    padding-right: 15%;
    background-color: rgb(36, 36, 36);
}

/*Row varie*/

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 25px;
}

.rowReverse{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 25px;
    justify-content: space-between;
}

.rowFooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 25px 25px 25px;
}

.rowFooterRegister{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px 25px 0px 25px;
}

/*Column varie*/

.columnSmall{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columnLarge{
    width: 70%;
    display: flex;
    justify-content: flex-start;
}

.columnBig{
    width: 100%;
    height: 700px;
    background-color: green;
}

.columnFooterLarge{
    width: 32%;
    height: 400px;
    background-color: rgb(252, 101, 126);
}

.columnFooterSmall{
    width: 17%;
    height: 400px;
    background-color: rgb(25, 147, 187);
    border: 1px solid black;
}

.columnFooterRegister{
    width: 100%;
    height: 50px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.columnSmall h1{
    font-size: 35px;
    padding-bottom: 10px;
}

.columnSmall p{
    font-size: 16px;
}

.columnLarge img{
    max-width: 80%;
}

.rowReverse .columnLarge{
    justify-content: flex-end;
}

hr{
    color: white;
}